<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">角色信息</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">角色编号：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="请输入角色编号...">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">角色名称：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="请输入角色名称...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">角色类型：</label>
                    <div class="col-md-10">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">状态：</label>
                    <div class="col-md-10">
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>