<div class="container-fluid">
    <div class="modal-header">
        <h5 class="modal-title text-danger">修改密码</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()">
         <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">旧密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" placeholder="请输入旧密码...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                         <label class="col-md-12 col-form-label text-danger">请输入6-15位密码！</label>          
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">新密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" placeholder="请输入新密码...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                         <label class="col-md-12 col-form-label text-danger">请输入6-15位新密码！</label>          
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">确认密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" placeholder="请输入确认密码...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                         <label class="col-md-12 col-form-label text-danger">确认密码与新密码一致！</label>          
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-">
                <button type="button" class="btn btn-primary" (click)="ok()"><i class="fa fa-check" aria-hidden="true"></i> 确定</button>
                <button type="button" class="btn btn-light  c-ml15" (click)="close()"><i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
            </div>
        </div>
    </div>


</div>