.c-home-login-tip{
     color: $color-black-secondary;
}

.c-home-card{
    max-height: 347px;
    .c-home-card-inner{
       max-height: 276px;
       .c-home-card-tip{
           color:$color-black-secondary
       }
    }
}



.c-home-common-func-outline{
    border:1px  dashed $color-gray-deep;
   .c-home-common-func{
        padding:6px;
        &:hover {
            background: $color-gray-deep;
            cursor: pointer;
        }
                
    }
}






