.c-spin-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 33333;
  background-color: $c-color-black-deep;
  filter: alpha(opacity=2);
  -moz-opacity: 0.02;
  opacity: 0.02;
}
.c-spin-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 33335;
  .c-spin1 {
    display: block;
    position: relative;
    left: calc(50% + 15px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: $c-spin-color-red;
    transform: translateZ(0);
    animation: spin 2s linear infinite;
   .c-spin2 {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 6px solid transparent;
      border-top-color: $c-spin-color-blue;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
    }
   .c-spin3 {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 6px solid transparent;
      border-top-color: $c-spin-color-yellow;
      animation: spin 1.5s linear infinite;
    }
  }
}
