.c-tree {
  font-size: 15px;
  li {
    list-style-type: none;
    margin-left: -25px;
    margin-top: 12px;
    ul {
      margin-left: 0px;
    }
  }
  .c-icon {
    margin-right: 5px;
    cursor: pointer;
  }
  .c-check-box {
    vertical-align: -2px;
    margin-right: 5px;
  }
  .c-text-field {
    &:hover {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      cursor: pointer;
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      opacity: 0.5;
    }
  }
}
.c-tree-search-box {
  padding: 10px;
  color: $c-color-black-secondary;
}
.c-select-tree-dropdown {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
