.c-hierarchy-view-box {
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
    padding: 20px;
}

.c-hierarchy-view-box .c-hierarchy-view {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part {
	text-align: center;
	float: inherit;
	position: relative;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-v {
	position: relative;
	height: 50px;
	width: 100%;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-v span {
	display: block;
	background: $color-gary;
	position: absolute;
	top: 0;
	font-size: 0;
	line-height: 1px;
	width: 1px;
	height: 50px;
	left: 50%;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-h {
	height: 1px;
	display: block;
	background: $color-gary;
	position: absolute;
	top: 0;
	font-size: 0;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-h-l {
	width: 50%;
	left: 0;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-h-c {
	width: 100%;
	left: 0;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-line-h-r {
	width: 50%;
	right: 0;
}

.c-hierarchy-view-box .c-hierarchy-view .c-part .c-name {
	display: inline-block;
	padding: 5px;
	width: 30px;
	height: auto;
	line-height: 20px;
	margin: 0 6px;
	border-radius: 2px;
	background: $color-gray-secondary;
	-webkit-box-shadow: 1px 1px 3.6px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 1px 1px 3.6px rgba(100, 100, 100,  0.6);
	box-shadow: 1px 1px 3.6px rgba(100, 100, 100,  0.6);
	color: $color-black-secondary;
}


.c-hierarchy-view-box .c-hierarchy-view .c-part .c-name:hover {
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

.c-hierarchy-view-box .c-hierarchy-view .c-block {
	float: left;
}

