<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">示例</p>
            <ag-grid-angular style="height:300px;width:100%" class="ag-theme-material" [columnDefs]="columnDefs" [rowData]="rowData"
                enableColResize enableSorting enableFilter groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
                headerHeight="40" rowHeight="40" rowSelection="multiple">
            </ag-grid-angular>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="c-mt15">
                <p class="c-line-title">说明</p>
                具体使用请参考:https://www.ag-grid.com/angular-getting-started/?framework=angular
            </div>
        </div>
    </div>
</div>