<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">帐号信息</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">帐号：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">332557712</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">密码：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">***********</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">姓名：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">小咖</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">邮箱：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">email@example.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row c-mt15">
        <div class="col-md-12">
            <p class="c-line-title">个人信息</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">身份证：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">350*81199103155**</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">性别：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">男</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">出生年月：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">1866-12-1</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">籍贯：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">福建</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">住址：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">福建省某某市某区某街道1#202室</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">联系电话：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">1895090****</p>
                </div>
            </div>
        </div>
    </div>
</div>