
.dp-material  .dp-popup {
  box-shadow: none !important;
  border-left: 0px  !important;;
  border-right: 0px  !important;;
  border-bottom: 0px  !important;;
}

.dp-calendar-nav-container{
  border-bottom: 0px  !important;
}


.dp-calendar-day{
  border-radius: 0px !important;
}

.dp-calendar-month{
  border-radius: 0px !important;
}

.dp-time-select-control-up{
  border-radius: 0px !important;
}

.dp-time-select-control-down{
  border-radius: 0px !important;
}