.c-home-login-tip{
     color: $c-color-black-secondary;
}

.c-home-card{
    max-height: 335px;
    .c-home-card-inner{
       max-height: 270px;
       .c-home-card-tip{
           color: $c-color-black-secondary
       }
       .c-date{
           color:$c-color-black-secondary;
       }
    }
}



.c-home-common-func-outline{
    border:0px  dashed $c-color-gray-deep;
   .c-home-common-func{
        padding:6px;
        &:hover {
            background: $c-color-gray-deep;
            cursor: pointer;
        }
                
    }
}






