<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">示例</p>
        </div>
        <div class="col-md-12">
            <c-qrcode #qr [value]="val" [size]="300" [padding]="20"></c-qrcode>
            <br/>
            <button type="button" class="btn btn-danger" (click)="getData()">获得图片</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="c-mt15">
                <p class="c-line-title">说明</p>
                组件目录:src/app/modules/shared/qrcode
            </div>
        </div>
    </div>
</div>