<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">示例</p>
        </div>
        <div class="col-md-12">
            <div class="c-mt15">
                <p class="c-line-title">equal-to</p>
                参考修改密码功能
            </div>
            <div class="c-mt15">
                <p class="c-line-title">email</p>
            </div>
            <div class="c-mt15">
                <p class="c-line-title">number</p>
            </div>
            <div class="c-mt15">
                <p class="c-line-title">url</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="c-mt15">
                <p class="c-line-title">说明</p>
                组件目录:src/app/modules/shared/custom-validator
            </div>
        </div>
    </div>
</div>