
@import '../../assets/scss/base/app-base.scss';

.c-treeview-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    .c-treeview-menu {
      padding-left: 15px;
    }
    & > li {
      margin: 0;
      margin-left: 2px;
      border-left: 1px solid $c-color-light;
      padding-left: 5px;
      & > .c-treeview-menu {
        margin: 0 1px;
      }
      & > a {
        padding: 5px 5px 8px 15px;
        display: block;
        color: $c-color-gray-deep;
        border: 0px;
        &:hover{
          color: $c-color-white;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          cursor: pointer;
          filter: alpha(opacity=35);
          -moz-opacity: 0.35;
          opacity: 0.35;
          margin-left: 5px;
        }
        & > .fa {
          width: 20px;
        }
      }
    }
    li {
      &.active {
        a{
          color: $c-color-white;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          cursor: pointer;
          filter: alpha(opacity=35);
          -moz-opacity: 0.35;
          opacity: 0.35;
          margin-left: 5px;
        }
        & > .c-treeview-menu {
          display: block;
        }
      }
    }
  }
