<div class="container-fluid">
    <form [formGroup]="passwordEditForm">
        <div class="modal-header">
            <h5 class="modal-title text-danger">修改密码</h5>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">
                            <span class="text-danger">*</span> 旧密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" formControlName="oldPassword" placeholder="请输入旧密码...">
                            <div class="c-validator-invalid" *ngIf="!passwordEditForm.controls['oldPassword'].valid && passwordEditForm.controls['oldPassword'].dirty">
                                旧密码格式不正确！
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label text-danger">格式：6-15位旧密码！</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">
                            <span class="text-danger">*</span> 新密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" formControlName="password" placeholder="请输入新密码...">
                            <div class="c-validator-invalid" [hidden]="!(passwordEditForm.controls['password'].errors && passwordEditForm.controls['password'].dirty)">
                                新密码格式不正确！
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label text-danger">格式：6-15位新密码！</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-right">
                            <span class="text-danger">*</span> 确认密码：</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" formControlName="certainPassword" placeholder="请输入确认密码...">
                            <div class="c-validator-invalid" [hidden]="!(passwordEditForm.controls['certainPassword'].errors && passwordEditForm.controls['certainPassword'].dirty)">
                                确认密码格式不正确！
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-md-12 col-form-label text-danger">格式：与新密码一致！</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-">
                    <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!passwordEditForm.valid">
                        <i class="fa fa-check" aria-hidden="true"></i> 确定</button>
                    <button type="button" class="btn btn-light  c-ml15" (click)="close()">
                        <i class="fa fa-close" aria-hidden="true"></i> 关闭</button>
                </div>
            </div>
        </div>

    </form>
</div>