<div class="c-step">
    <div *ngFor="let item of data.rows;let i = index" (click)="stepClick(i+1,item);">
        <div class="c-step-item" [ngClass]="stepItemCls" *ngIf="(i+1)<=data.currentIndex">
            <span class="c-step-index">{{(i+1)}}</span>{{item.title}}
            <div class="c-step-dir c-step-bg" *ngIf="(i+1)==data.currentIndex && (data.rows.length)!=data.currentIndex">
                <span class="c-step-outside"></span>
                <span class="c-step-inside"></span>
            </div>
            <div class="c-step-dir" [ngClass]="stepBgCls" *ngIf="(i+1)<data.currentIndex">
                <span class="c-step-outside"></span>
                <span class="c-step-inside"></span>
            </div>

            <div class="c-step-dir c-step-bg" *ngIf="!((i+1)<data.currentIndex) && (i+1)!=data.rows.length">
                <span class="c-step-outside"></span>
                <span class="c-step-inside"></span>
            </div>

        </div>
        <div class="c-step-item" *ngIf="!((i+1)<=data.currentIndex)">
            <span class="c-step-index">{{(i+1)}}</span>{{item.title}}
            <div class="c-step-dir c-step-bg" *ngIf="(i+1)==data.currentIndex && (data.rows.length)!=data.currentIndex">
                <span class="c-step-outside"></span>
                <span class="c-step-inside"></span>
            </div>
            <div class="c-step-dir c-step-bg" *ngIf="!((i+1)<data.currentIndex) && (i+1)!=data.rows.length">
                <span class="c-step-outside"></span>
                <span class="c-step-inside"></span>
            </div>

        </div>
    </div>
</div>