<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">用户信息</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">帐号：</label>
                    <div class="col-md-10">
                         <p class="form-control-static">332557712</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">密码：</label>
                    <div class="col-md-10">
                        <p class="form-control-static">***********</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">姓名：</label>
                    <div class="col-md-10">
                       <p class="form-control-static">小咖</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label text-right">邮箱：</label>
                    <div class="col-md-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>