<div>
    <div class="modal-body">
        <div>
            <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
        </button>
        </div>
        <div class="text-center c-mt10 c-mb5">
            <div  class="text-info c-ml20"  [hidden]="!isInfo(config.type)">
                <span class="fa-stack fa-5x" aria-hidden="true">
				  <i class="fa fa-circle-o fa-stack-2x"></i>
				  <i class="fa fa-info fa-stack-1x"></i>
			   </span>
            </div>
            <div class="text-danger c-ml20" [hidden]="!isError(config.type)">
               <span class="fa-stack fa-5x" aria-hidden="true">
				 <i class="fa fa-times-circle-o fa-stack-2x"></i>
			   </span>
            </div>
            <div class="text-warning c-ml20 c-mb10" [hidden]="!isWarning(config.type)">
               <span class="fa-stack fa-4x" aria-hidden="true">
				 <i class="fa fa-warning fa-stack-2x"></i>
			   </span>
            </div>
        </div>
        <h5  class="text-center" [hidden]='!config.title'>{{config.title}}</h5>
        <div class="text-center c-word-break c-modal-content" [innerHTML]="config.content"></div>
    </div>
    <div class="text-center c-mb20 c-mt10">
        <button type="button" class="btn " [ngClass]="config.approveBtnCls" (click)="approve()">{{config.approveBtnTxt}}</button>
    </div>
</div>