/*登录*/
.c-login-wrapper{
    background: url("./assets/img/login-bg.png");
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
}

.c-login-wrapper > .c-login-container{
   padding-top:11%;
}

.c-login-wrapper > .c-login-container > .c-login-box{
  width:410px;
  padding:20px;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.15);
  border:0px;
  background:$color-white;
}


.c-login-wrapper > .c-login-container > .c-login-box .c-login-header{
	margin-bottom: 25px;
	
}

.c-login-wrapper > .c-login-container > .c-login-box .c-login-header h3{
    color: $color-black-primary
}

.c-login-wrapper > .c-login-container > .c-login-box  .c-login-header  img{
	width:32px;
	height:32px;
	vertical-align:-7px;
	margin-right: 2px;
	background-color:$color-deep;
}

.c-login-wrapper > .c-login-container > .c-login-box  .c-login-header  img:hover{
    -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transform: rotateY(-360deg);
	-webkit-transform: rotateY(-360deg);
	-o-transform: rotateY(-360deg);
	-ms-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
}

.c-login-wrapper > .c-login-container > .c-login-box hr{
	padding-bottom:5px;
}


.c-login-wrapper > .c-login-container > .c-login-box  .form-group{
	margin-top: 28px
}

.c-login-wrapper > .c-login-container > .c-login-box  .form-group input{
	padding:10px;
}


.c-login-wrapper > .c-login-container > .c-login-box .form-group button{
	width:100%;
	padding:10px;
	cursor: pointer;
}

.c-login-wrapper > .c-login-container > .c-login-box .c-copy-right{
	margin-top: 10px;
	height:10px
}

.c-login-wrapper > .c-login-container > .c-login-box .c-copy-right p{
	color: $color-black-secondary;

}



.c-login-wrapper >  .c-login-desc{
	 width:410px;
	 text-align: center;
	 font-size: 13px;
	 margin-top: 8px;
	 color: $color-gray-light;
	 margin-left: auto;
	 margin-right: auto;
	filter: alpha(opacity=8);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
